@font-face {
    font-family: Zpix;
    src: url("../font/zpix.eot") format("embedded-opentype"),
        url("../font/zpix.ttf") format("truetype"),
        url("../font/zpix.woff") format("woff");
}

body {
    position: relative;
    margin: 0;
    background-image: url("../photo/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    width: 100%;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(247, 221, 182);
    margin: 15px;
    padding: 15px 20px;
    background-color: rgb(255, 249, 217);
    font-family: Zpix;
    text-align: center;
    padding: 15px;
}

.title ul {
    margin: 15px;
    padding: 0px;
    list-style: none;
    height: 32px;
    overflow: hidden;
}

.title h1 {
    margin: 0px;
}

.p_information {
    flex: auto;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(135, 206, 235);
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 0;
    border-image-source: url("../photo/pixil-frame-0.png");
    display: inline-block;
    margin: 15px;
    padding: 15px 20px;
    background-color: rgb(175, 221, 238);
    font-family: Zpix;
    width: 720px;
}

h3 {
    margin: 10px 10px 10px 10px;
}

.p_information ul,
.p_information li {
    padding-left: 0px;
    margin-left: 0px;
}

.p_information li {
    list-style-type: none;
    margin: 10px;
    font-size: 18px;
}

.information {
    width: auto;
    flex: auto;
}

.myself_photo {
    border-radius: 20px;
    width: 300px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.icon {
    width: 72px;
    height: 72px;
    flex: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.icon:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease-out;
}

.first_right {
    flex: none;
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first_right {
    flex: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.motto {
    width: 280px;
    flex: none;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #72efdd;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 0;
    border-image-source: url("../photo/pixil-frame-0.png");
    display: inline-block;
    margin: 15px;
    padding: 15px 20px;
    background-color: #72efdd;
    font-family: Zpix;
}

.experience {
    width: 280px;
    flex: none;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(238, 147, 252);
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 0;
    border-image-source: url("../photo/pixil-frame-0.png");
    display: inline-block;
    margin: 15px;
    padding: 15px 20px;
    background-color: rgb(247, 205, 254);
    font-family: Zpix;
    height: 240px;
}

.skill {
    width: 352px;
    flex: none;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #c4d3fc;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 0;
    border-image-source: url("../photo/pixil-frame-0.png");
    display: inline-block;
    margin: 15px;
    padding: 15px 20px;
    background-color: #cddafd;
    font-family: Zpix;
}


.skill ul {
    padding: 0px;
}

.skill li {
    margin: 15px;
    list-style-type: none;
}

.circle_wrap {
    margin: 15px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle_wrap .inside_circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #cddafd;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #1e51dc;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 1em;
}

/*圖一*/
.circle_wrap .circle_1 .mask,
.circle_wrap .circle_1 .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227ded;
}

.circle_wrap .circle_1 .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.mask.full_1,
.circle_1 .fill {
    animation: fill_1 ease-in-out 3s;
    transform: rotate(117deg);
}

@keyframes fill_1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(117deg);
    }
}

/*圖二*/
.circle_wrap .circle_2 .mask,
.circle_wrap .circle_2 .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227ded;
}

.circle_wrap .circle_2 .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.mask.full_2,
.circle_2 .fill {
    animation: fill_2 ease-in-out 3s;
    transform: rotate(144deg);
}

@keyframes fill_2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(144deg);
    }
}

/*圖三*/
.circle_wrap .circle_3 .mask,
.circle_wrap .circle_3 .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227ded;
}

.circle_wrap .circle_3 .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.mask.full_3,
.circle_3 .fill {
    animation: fill_3 ease-in-out 3s;
    transform: rotate(108deg);
}

@keyframes fill_3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(108deg);
    }
}


.programming {
    width: 652px;
    flex: none;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #edd95f;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 0;
    border-image-source: url("../photo/pixil-frame-0.png");
    display: inline-block;
    margin: 15px;
    padding: 15px 20px;
    background-color: #edd95f;
    font-family: Zpix;
}

.programming p {
    margin-top: 15px;
    margin-bottom: 5px;
}

.programming .container {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 0;
    border-image-source: url("../photo/pixil-frame-0.png");

}

.skills {
    border-radius: 5px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.cpp {
    width: 80%;
    background-color: #5ece71;
}

.c {
    width: 75%;
    background-color: #2196F3;
}

.py {
    width: 70%;
    background-color: #f44336;
}

.java {
    width: 70%;
    background-color: #5ece71;
}

.web {
    width: 65%;
    background-color: #f44336;
}

.csharp {
    width: 50%;
    background-color: #2196F3;
}

.work_title {
    width: 1130px;
    flex: none;
    display: inline-block;
    margin: 15px 15px 0px 15px;
    padding: 0px;
    font-family: Zpix;
}

.work_title ul {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.work_title li {
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 0;
    border-image-source: url("../photo/pixil-frame-1.png");
    list-style-type: none;
    flex: none;
    padding: 10px;
}

.work_title a {
    color: black;
    text-decoration: none;
}

.work_title #active{
    background-color: #6cb9e3;
}
.work_title #project_bottom{
    background-color: #72efdd;
}

.work_title #club_bottom{
    background-color: #99ff8e;
}

.work {
    width: 1082px;
    flex: none;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #6cb9e3;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 0;
    border-image-source: url("../photo/pixil-frame-0.png");
    display: inline-block;
    margin: 0px 15px 28px 15px;
    padding: 15px 20px;
    background-color: #6cb9e3;
    font-family: Zpix;
    display: flex;
    justify-content: center;
}

.timeline {
    display: none;
    flex: none;
    position: relative;
    max-width: 1000px;
    margin: 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 40%;
}

/* The circles on the timeline */
.timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 2%;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.content div {
    line-height: 1.2em;
}

@media screen and (max-width: 600px) {

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

.timeline img {
    width: 340px;
}

.continue {
    padding: 0px;
}


.continue li {
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 0px;
    display: inline-block;
    animation: bounce 4s ease infinite;
}

@keyframes bounce {
    10% {
        top: -20px;
    }

    20% {
        top: 0px;
    }

}

.continue li:nth-child(2) {
    animation-delay: 0.1s;
}

.continue li:nth-child(4) {
    animation-delay: 0.2s;
}

.continue li:nth-child(5) {
    animation-delay: 0.3s;
}

.continue li:nth-child(7) {
    animation-delay: 0.4s;
}

.continue li:nth-child(8) {
    animation-delay: 0.5s;
}

.continue li:nth-child(9) {
    animation-delay: 0.6s;
}

.continue li:nth-child(10) {
    animation-delay: 0.7s;
}

.continue li:nth-child(11) {
    animation-delay: 0.8s;
}

.continue li:nth-child(12) {
    animation-delay: 0.9s;
}

.continue li:nth-child(13) {
    animation-delay: 1s;
}

.continue li:nth-child(14) {
    animation-delay: 1.1s;
}


.project {
    display: flex;
    width: 960px;
    flex: none;
    flex-wrap: wrap;
    justify-content: center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: Zpix;
}

.panel img{
    float: left;
    width: 350px;
    margin: 15px;
    border-radius: 20px;
}
.panel div{
    margin: 15px;
    line-height: 1.2em;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.club {
    display: flex;
    width: 100%;
    flex: none;
    flex-wrap: wrap;
    justify-content: center;
}

.club .club_img_1 {
    float: left;
    width: 400px;
    height: 400px;
    margin: 15px;
    border-radius: 20px;
}

.club .text_1 {
    margin: 15px;
    float: right;
    width: 400px;
    height: 400px;
    line-height: 1.2em;
}

.club h2 {
    line-height: 1.2em;
}

.club .text_2 {
    margin: 15px;
    float: left;
    width: 400px;
    height: 400px;
    line-height: 1.2em;
}

.club_img_2 {
    float: right;
    width: 400px;
    height: 400px;
    position: relative;
}


.club_img_2_1 {
    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    height: 350px;
    z-index: 2;
}

.club_img_2_1:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease-out;
}

.club_img_2 iframe {
    border-radius: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.club_img_2 iframe:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease-out;
    z-index: 3;
}

.club_img_3 {
    float: left;
    width: 400px;
    height: 400px;
    position: relative;
}

.club_img_3_1 {
    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    height: 350px;
    z-index: 2;
}

.club_img_3_1:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease-out;
}

.club_img_3 iframe {
    border-radius: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.club_img_3 iframe:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease-out;
    z-index: 3;
}

.club .text_3 {
    float: right;
    margin: 15px;
    width: 400px;
    height: 400px;
    line-height: 1.2em;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 10px 0px 0px 0px;
}